@model SitefinityWebApp.Mvc.Models.Fields.FormDropdown.FormDropdownViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@{
    string selectedKey = Model.Value as string;
}

<label for='@Html.UniqueId("FormDropdown")'>
    @Model.FieldTitle
</label>
<select id='@Html.UniqueId("FormDropdown")' name="@Model.FieldName" @Model.ValidationAttributes >
    <option>Select value</option>
    @foreach (var item in Model.Items)
    {
        string selected = string.Empty;
        if (!string.IsNullOrEmpty(selectedKey))
        {
            if (selectedKey == item.Key)
            {
                selected = "selected='selected'";
            }
        }
        <option value="@item.Key" @selected>@item.Value</option>
    }
</select>